<article class="question">
  <header><%= @question.title %></header>
  <p><%= @question.content %></p>
  <footer><%= "asked by #{@question.user.id} at #{@question.created_at}" %></footer>
</article>
<section class="answer-list">
    <%= render partial: "questions/answer", locals: {answer: @question.best_answer, css_class: "best answer"} if @question.best_answer %>
    <%= render partial: "questions/answer", collection: @question.rest_answers,
           as: :answer, locals: {css_class: "answer"} %>
</section>

<%= render partial: "answers/new", locals: {answer: @answer, question: @question} %>
